body {
  font-family: sans-serif;
  margin: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

main {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #999;
  padding: 4px 8px;
}
